@use './styles/global';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html{
    background-color: var(--background);
    font: var(--font);
    color: #fff;
}

body, html{
    box-sizing: border-box;
}

body, ul, li, p, h1, h2, h3, h4, h5, h6, button{
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

button{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--accent);
}

li{
    list-style: none;
}

.container{
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
}

// [class*="__container"] {
//     max-width: 1350px;
//     margin: 0 auto;
//     padding: 0 15px;
// }