@use "variables" as v;

.abonement {
  background-color: #fff;
  padding-bottom: 100px;
  position: relative;

  &__decor--left-top{
    position: absolute;
    top: -216px;
    @media (max-width: v.$min-tablet) {
      display: none;
    }
  }

  &__decor--left-bottom{
    position: absolute;
    bottom: 505px;
    @media (max-width: v.$big-mobile){
      height: 200px;
    }
  }

  &__decor--right-top{
    position: absolute;
    right: 0;
    top: 394px;
    @media (max-width: v.$big-mobile){
      height: 200px;
    }
  }

  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--background);
  }

  li {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--background);
  }

  .black-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--background);
    @media (max-width: v.$big-mobile) {
      font-size: 16px;
    }
  }

  .accent-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--accent);
    @media (max-width: v.$big-mobile) {
      font-size: 16px;
    }
  }

  .min-text{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: rgba(12, 20, 23, 0.5);
  }

  .first-el {
    margin-bottom: 45px;
  }

  .swiper-wrapper{
    &__top{
      padding-bottom: 75px;
      @media (max-width: 400px) {
        padding-bottom: 115px;
      }
    }
    &__bottom{
      padding-bottom: 70px;
    }
  }

  .swiper-scrollbar-drag {
    background: var(--background);
  }

  .swiper-scrollbar.swiper-scrollbar-horizontal {
    position: relative;
    margin: 20px auto;

    bottom: 0px;
    width: 85%;
    height: 4px;
    background-color: var(--background);

    @media (max-width: v.$min-tablet) {
      position: absolute;
    }
  }
  .swiper-gallery.swiper-scrollbar-drag {
    background: none;
    transform: translate3d(986px, 0px, 0px);
  }

  .swiper-scrollbar-drag:after {
    content: "";
    width: 200px;
    height: 10px;
    border-radius: 5px;
    background: var(--accent);
    position: absolute;
    top: -2px;
    left: 45%;
    margin: 0 0 0 -20px;
    @media (max-width: v.$min-tablet) {
      width: 102px;
    }
  }

  &__title {
    color: var(--background);
    padding-top: 160px;
  }

  &__top{
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
    &::before {
      content: "";
      position: absolute;
      border-bottom: 1px solid rgba(12, 20, 23, 0.5);
      width: 97%;
      top: 20px;
      padding-bottom: 15px;
    }

    ul{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 370px;
    }

    li{
      margin-bottom: 45px;
      max-width: 195px;
    }

    .first-ul{
      text-align: left;
      max-width: 248px;
    }

    .last-ul{
      padding-right: 24px;
    }    
  }

  &__middle--content {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      border-bottom: 1px solid rgba(12, 20, 23, 0.5);
      width: 97%;
      top: 20px;
      padding-bottom: 15px;
    }

    ul{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 305px;
    }

    li{
      margin-bottom: 45px;
    }

    .first-ul{
      text-align: left;
      max-width: 248px;
    }

    .last-ul{
      padding-right: 24px;
    }    

  }

  &__subtitle {
    color: var(--background);
    font-size: 24px;
    margin-top: 90px;
  }

  &__bottom {
   &--items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    @media (max-width: v.$min-tablet) {
      grid-template-columns: 1fr;
      grid-row-gap: 30px;
    }

    .bottom__item{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      max-width: 308px;
      background-color: var(--white);
      box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
      transition: all .3s;
      @media (max-width: v.$big-tablet) {
        max-width: 226px;
        height: 372px;
      }
      @media (max-width: v.$min-tablet){
        max-width: 450px;
      }
      @media (max-width: v.$big-mobile) {
        max-width: 226px;
      }

      &:hover{
        .bottom__item--title{
          color: var(--accent);
        }
        .bottom__item--btn{
          background: var(--accent);
          color: var(--white);
        }
      }

      &-block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (max-width: v.$big-tablet){
          flex-direction: row-reverse;
          gap: 10px;
          &--last{
            padding: 20px 0px 11px 19px;
            @media (max-width: v.$min-tablet){
              max-width: 300px;
            }
          }
        }
      }

      &--title{
        text-align: center;
        font-size: 16px;
        padding: 32px 20px 20px 20px;
        max-width: 267px;
      }

      img{
        width: 34px;
        margin: 30px 0 15px 0;
        @media (max-width: v.$big-tablet){
          margin: 15px 0 15px 0;
        }
      }

      &--time{
        text-align: center;
      }

      &--price{
        font-weight: 700;
        font-size: 24px;
        color: var(--background);
      }

      &--tren{
        margin: 15px 0 30px 0;
      }

      &--link{
        margin-bottom: 30px;
      }

      &--btn{
        display: flex;
        justify-content:center;
        align-items:center;

        color: var(--accent);
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;

        width: 220px;
        height: 50px;
        border-width: 0.15em;
        border-style: solid;
        border-color: var(--accent);
        -webkit-transform: skew(-30deg);
        -moz-transform: skew(-30deg);
        -o-transform: skew(-30deg);
        transform: skew(-30deg);
        @media (max-width: v.$big-tablet) {
          width: 150px;
        }
      }
    }

  }
}

}


