$tablet: 1180px;
$big-tablet: 992px;
$min-tablet: 735px;
$big-mobile: 545px;

:root{
	// --smaller-font: 700 11px "Inter", sans-serif;
	--font: 400 13px "Montserrat", sans-serif;
	--biggest-font: 600 14px "Montserrat", sans-serif;

	--transition: 0.3s;

}